<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo ie-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>SoDuc</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
               
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Features</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Community</a>
                </li>

            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
<div class="wrapper">
<div class="row">
<div class="col-lg-4 col-md-4"></div>
<div class="col-lg-4 col-md-4">
<app-login></app-login>
</div>
<div class="col-lg-4 col-md-4">
<app-register></app-register>
</div>
</div>
</div>
<app-footer></app-footer>