<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
        <i class="fa sign-out" aria-hidden="true"></i>
        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">SoDuc</a></mdb-navbar-brand>
    
        <!-- Collapsible content -->
        <links>
    
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>My presentations</a>
                </li>
    
                <!-- Dropdown -->
               
    
            </ul>
            <!-- Links -->
    
    <!-- Search form -->
            
        </links>
        <!-- Collapsible content -->
    
    </mdb-navbar>
    <!--/.Navbar-->