<div class="wrapper">
  <h5>Recent posts</h5>
<div class="card text-center">
    <div class="card-header">
      Average Score: 4.8/5
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-4-md">
            <img id = "img-presentation" src="../../assets/profile.jpg">
            <a href=""> <p class="mdb-color white-text"><u>Happy Puppy Jr.</u></p></a>
           </div>
          <div class="col-md-8">
        <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
            <dt><u>Computer science/ C#</u></dt>
            <dd><b>title:</b> "OOP concepts by example"</dd>
            <dd><b>time</b>: 10/18/18 11:52:12 UTC+00</dd>
            <dd><b>number of requests so far</b>: 2</dd>  
            <a href="#" class="btn btn-primary">Request</a>
        </a>
        </div>
        </div>
      
    </div>
    <div class="card-footer text-muted">
      posted today
    </div>
  </div>
 
  </div>
  <div class="wrapper"> 
      <div class="card text-center">
          <div class="card-header">
            Average Score: 5/5
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-4-md">
                  <img id = "img-presentation" src="../../assets/dog2.jpg">
                  <a href=""> <p class="mdb-color white-text"><u>Remote C. Lover</u></p></a>
                 </div>
                <div class="col-md-8">
              <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                  <dt><u>Computer science/ All</u></dt>
                  <dt><u>OAuth2</u></dt>
                    <dd><b>title:</b> "Understanding OAuth2"</dd>
                    <dd><b>time</b>: 10/10/18 03:52:12 UTC+00</dd>
                    <dd><b>number of requests so far</b>: 5</dd>  
                  <a href="#" class="btn btn-primary">Request</a>
              </a>
              </div>
              </div>
            
          </div>
          <div class="card-footer text-muted">
            posted 2 days ago
          </div>
        </div>
       
        </div>
        <div class="wrapper"> 
            <div class="card text-center">
                <div class="card-header">
                  Average Score: 5/5
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-4-md">
                        <img id = "img-presentation" src="../../assets/holmer3.JPG">
                        <a href=""> <p class="mdb-color white-text"><u>Geek IHOW</u></p></a>
                       </div>
                      <div class="col-md-8">
                    <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                        <dt><u>Life skills/commedy</u></dt>
                    <dd><b>title:</b> "No joke: Learning the tricks of standup comedy"</dd>
                    <dd><b>time</b>: 10/10/18 03:52:12 UTC+00</dd>
                    <dd><b>number of requests so far</b>: 12</dd>  
                        <a href="#" class="btn btn-primary">Request</a>
                    </a>
                    </div>
                    </div>
                  
                </div>
                <div class="card-footer text-muted">
                  posted 4 days ago
                </div>
              </div>
             
              </div>
              <div class="wrapper"> 
                  <div class="card text-center">
                      <div class="card-header">
                        Average Score: 4.8/5
                      </div>
                      <div class="card-body">
                          <div class="row">
                            <div class="col-4-md">
                              <img id = "img-presentation" src="../../assets/java1.jpg">
                              <a href=""> <p class="mdb-color white-text"><u>Happy Puppy Jr.</u></p></a>
                             </div>
                            <div class="col-md-8">
                          <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                              <dt><u>Computer science/Java</u></dt>
                          <dd><b>title:</b> "JUnit for absolute beginners like me"</dd>
                          <dd><b>time</b>: 12/12/18 03:52:12 UTC+00</dd>
                          <dd><b>number of requests so far</b>: 12</dd>  
                              <a href="#" class="btn btn-primary">Request</a>
                          </a>
                          </div>
                          </div>
                        
                      </div>
                      <div class="card-footer text-muted">
                        posted 4 days ago
                      </div>
                    </div>
                   
                    </div>
  



                    <div class="wrapper"> 
                        <div class="card text-center">
                            <div class="card-header">
                              Average Score: 4.8/5
                            </div>
                            <div class="card-body">
                                <div class="row">
                                  <div class="col-4-md">
                                    <img id = "img-presentation" src="../../assets/profile.jpg">
                                    <a href=""> <p class="mdb-color white-text"><u>Happy Puppy Jr.</u></p></a>
                                   </div>
                                  <div class="col-md-8">
                                <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                                    <dt><u>Computer science/ C#</u></dt>
                                    <dd><b>title:</b> "OOP concepts by example"</dd>
                                    <dd><b>time</b>: 10/18/18 11:52:12 UTC+00</dd>
                                    <dd><b>number of requests so far</b>: 2</dd>  
                                    <a href="#" class="btn btn-primary">Request</a>
                                </a>
                                </div>
                                </div>
                              
                            </div>
                            <div class="card-footer text-muted">
                              posted today
                            </div>
                          </div>
                         
                          </div>
                          <div class="wrapper"> 
                              <div class="card text-center">
                                  <div class="card-header">
                                    Average Score: 5/5
                                  </div>
                                  <div class="card-body">
                                      <div class="row">
                                        <div class="col-4-md">
                                          <img id = "img-presentation" src="../../assets/dog2.jpg">
                                          <a href=""> <p class="mdb-color white-text"><u>Remote C. Lover</u></p></a>
                                         </div>
                                        <div class="col-md-8">
                                      <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                                          <dt><u>Computer science/ All</u></dt>
                                          <dt><u>OAuth2</u></dt>
                                            <dd><b>title:</b> "Understanding OAuth2"</dd>
                                            <dd><b>time</b>: 10/10/18 03:52:12 UTC+00</dd>
                                            <dd><b>number of requests so far</b>: 5</dd>  
                                          <a href="#" class="btn btn-primary">Request</a>
                                      </a>
                                      </div>
                                      </div>
                                    
                                  </div>
                                  <div class="card-footer text-muted">
                                    posted 2 days ago
                                  </div>
                                </div>
                               
                                </div>
                                <div class="wrapper"> 
                                    <div class="card text-center">
                                        <div class="card-header">
                                          Average Score: 5/5
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                              <div class="col-4-md">
                                                <img id = "img-presentation" src="../../assets/holmer3.JPG">
                                                <a href=""> <p class="mdb-color white-text"><u>Geek IHOW</u></p></a>
                                               </div>
                                              <div class="col-md-8">
                                            <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                                                <dt><u>Life skills/commedy</u></dt>
                                            <dd><b>title:</b> "No joke: Learning the tricks of standup comedy"</dd>
                                            <dd><b>time</b>: 10/10/18 03:52:12 UTC+00</dd>
                                            <dd><b>number of requests so far</b>: 12</dd>  
                                                <a href="#" class="btn btn-primary">Request</a>
                                            </a>
                                            </div>
                                            </div>
                                          
                                        </div>
                                        <div class="card-footer text-muted">
                                          posted 4 days ago
                                        </div>
                                      </div>
                                     
                                      </div>
                                      <div class="wrapper"> 
                                          <div class="card text-center">
                                              <div class="card-header">
                                                Average Score: 4.8/5
                                              </div>
                                              <div class="card-body">
                                                  <div class="row">
                                                    <div class="col-4-md">
                                                      <img id = "img-presentation" src="../../assets/java1.jpg">
                                                      <a href=""> <p class="mdb-color white-text"><u>Happy Puppy Jr.</u></p></a>
                                                     </div>
                                                    <div class="col-md-8">
                                                  <a href="#" class="list-group-item list-group-item-action waves-light" mdbWavesEffect>
                                                      <dt><u>Computer science/Java</u></dt>
                                                  <dd><b>title:</b> "JUnit for absolute beginners like me"</dd>
                                                  <dd><b>time</b>: 12/12/18 03:52:12 UTC+00</dd>
                                                  <dd><b>number of requests so far</b>: 12</dd>  
                                                      <a href="#" class="btn btn-primary">Request</a>
                                                  </a>
                                                  </div>
                                                  </div>
                                                
                                              </div>
                                              <div class="card-footer text-muted">
                                                posted 4 days ago
                                              </div>
                                            </div>
                                           
                                            </div>
                          