<div class="row">
    <div class="col-md-6 blue">
         <br>
         <br>
         <br>
         <br>
         <br>
         <br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br>
     
    </div>
    <div class="col-md-6">
        <div class="row justify-content-end"> 
          <img src="../../assets/profile.jpg" >
         </div>
         <div class="row justify-content-end"> 
         <h5>Happy puppy Jr.</h5>
         </div>
         <div class="row">
                 <div class="col-md-6 yellow">
                         <br><br><br><br><br><br><br><br><br><br><br> 
                         </div>
                         <div class="col-md-6 grey">
                             <br><br><br><br><br><br><br><br><br><br> <br> 
                         </div>
         </div>
         <div>
             <button mdbBtn type="button" color="success" outline="true" mdbWavesEffect style="display: block; margin: 0 auto; margin-top:20px">Explore</button>
         </div>
         
     </div>
 </div>
 <!-- main row -->
 <!-- lower row -->
 <div class="row green">
         <br>
         <br>
         <br><br> <br><br><br>
     </div>
     <!-- lower row -->

